---
import Tray from '../components/Tray.astro';

export interface Props {
  cover?: string;
  description?: string;
  pizza?: string;
  title?: string;
}

const defaultCover = '/pizza/01/cover.jpg';
const defaultTitle = 'Perpetual Pizza | The never ending digital pizza';
const defaultDescription =
  'Watch the never ending digital pizza spin hypnotize you into ordering a pizza.';
const siteUrl = 'https://perpetual.pizza';
const currentPath = Astro.url.pathname;

const {
  cover = defaultCover,
  description = defaultDescription,
  pizza,
  title = defaultTitle,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href={siteUrl} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="canonical" href={`${siteUrl}${currentPath}`} />
    <link rel="author" href="/humans.txt" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="theme-color" content="#d00000" />

    <meta property="og:image:width" content="1080" />
    <meta property="og:image:height" content="1080" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={`${siteUrl}${currentPath}`} />
    <meta property="og:image" content={cover} />
  </head>
  <body>
    <slot />
    <div>
      <button
        id="toggle-fullscreen"
        type="button"
        class="toggle-fullscreen"
        aria-label="Toggle fullscreen (or press F)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          viewBox="0 0 256 256"
          class="fullscreen-out"
        >
          <path
            d="M216,48V96a8,8,0,0,1-16,0V67.31l-42.34,42.35a8,8,0,0,1-11.32-11.32L188.69,56H160a8,8,0,0,1,0-16h48A8,8,0,0,1,216,48ZM98.34,146.34,56,188.69V160a8,8,0,0,0-16,0v48a8,8,0,0,0,8,8H96a8,8,0,0,0,0-16H67.31l42.35-42.34a8,8,0,0,0-11.32-11.32ZM208,152a8,8,0,0,0-8,8v28.69l-42.34-42.35a8,8,0,0,0-11.32,11.32L188.69,200H160a8,8,0,0,0,0,16h48a8,8,0,0,0,8-8V160A8,8,0,0,0,208,152ZM67.31,56H96a8,8,0,0,0,0-16H48a8,8,0,0,0-8,8V96a8,8,0,0,0,16,0V67.31l42.34,42.35a8,8,0,0,0,11.32-11.32Z"
          ></path>
        </svg>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          viewBox="0 0 256 256"
          class="fullscreen-in"
          ><path
            d="M205.66,194.34a8,8,0,0,1-11.32,11.32L128,139.31,61.66,205.66a8,8,0,0,1-11.32-11.32L116.69,128,50.34,61.66A8,8,0,0,1,61.66,50.34L128,116.69l66.34-66.35a8,8,0,0,1,11.32,11.32L139.31,128Z"
          ></path></svg
        >
      </button>
    </div>
    <Tray pizza={pizza} />
  </body>
</html>

<script>
  const fullscreenButton = document.getElementById('toggle-fullscreen');

  function toggleFullScreen() {
    if (!document.fullscreenElement) {
      document.documentElement.requestFullscreen();
    } else if (document.exitFullscreen) {
      document.exitFullscreen();
    }
  }

  document.addEventListener(
    'keydown',
    (event) => {
      if (['Enter', 'f'].includes(event.key)) toggleFullScreen();
    },
    false,
  );

  document.addEventListener(
    'fullscreenchange',
    () => {
      const isFullscreen = !document.fullscreenElement;
      document.body.classList.toggle('is-fullscreen', !isFullscreen);
      fullscreenButton?.classList.toggle('open', !isFullscreen);
    },
    false,
  );

  fullscreenButton?.addEventListener('click', toggleFullScreen);
</script>

<style is:global>
  :root {
    --primary: 208, 0, 0;
  }

  * {
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    font:
      1em/1.6 system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Droid Sans,
      Helvetica Neue,
      Fira Sans,
      sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #f48c06;
    color: #fff;
  }

  .button {
    --background-opacity: 0.7;

    display: flex;
    align-items: center;
    width: max-content;
    height: 2.25em;
    padding: 0.4em 2em 0.333em;
    border: 3px solid rgb(var(--primary));
    border-radius: 5rem;
    background-color: rgba(var(--primary), var(--background-opacity));
    backdrop-filter: blur(12px);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.333;
    text-decoration: none;
    transition: background 333ms ease-in-out;
  }

  .button:hover,
  .button:focus {
    --background-opacity: 1;
  }

  .button__icon {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.666em;
  }

  .button--nft {
    position: absolute;
    z-index: 5;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 16px;
  }

  .button--nft svg {
    width: 3.2em;
    height: 3.2em;
    margin-left: 0.666em;
    filter: drop-shadow(3px 5px 2px rgb(0, 0, 0, 0.25));
  }

  .toggle-fullscreen {
    position: absolute;
    z-index: 5;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    font-size: 1.5rem;
    transition: background-color 333ms ease-in-out;
  }

  @media (pointer: coarse) {
    .toggle-fullscreen {
      display: none;
    }
  }

  .toggle-fullscreen:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .toggle-fullscreen svg {
    width: 1em;
    height: 1em;
  }

  .toggle-fullscreen.open {
    opacity: 0.3;
  }

  .toggle-fullscreen .fullscreen-in {
    display: none;
  }

  .toggle-fullscreen.open .fullscreen-out {
    display: none;
  }

  .toggle-fullscreen.open .fullscreen-in {
    display: block;
  }
</style>
